{
  "root": true,
  "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/recommended",
      "plugin:react/recommended",
      "plugin:react-hooks/recommended"

    ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": { "project": ["./tsconfig.json"] },
  "plugins": [
      "@typescript-eslint",
      "react"
  ],
  "rules": {
    
    "@typescript-eslint/no-empty-interface": [0],
    "padding-line-between-statements": [      "error",
    { "blankLine": "always", "prev": ["block"], "next": ["block"] },
]
  },
  "ignorePatterns": ["src/**/*.test.ts", "src/frontend/generated/*"]
}