*,
*::before,
*::after {
  box-sizing: border-box;
  cursor: crosshair;
}

*::selection {
  background: rgb(255, 0, 0, 0.1);
}


@font-face {
  font-family: 'Fredoka One';
  src: local('Fredoka One'), url("/src/data/fonts/FredokaOne.ttf") format('truetype');
}